{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Change password : {{ user }} {% endblock title_block %}

{% block css_block %}

    <style>

        .password-box{

            width: 90%;
            padding: 30px;
            border: 1px solid #ccc;
            margin: auto;
            margin-top: 40px;

        }        

    </style>

{% endblock css_block %}

{% block body_block %}

<div class="password-box shadow-sm">

    <form  method="POST">

        {{ form|crispy }}
        {% csrf_token %}

        <input type="submit" value="Change" class="btn btn-success btn-md mt-3">
        <a href="{% url 'App_Login:change_settings' %}" class="btn btn-light btn-md border border-1 mt-3">cancel</a>

    </form>

</div>

{% endblock body_block %}