.sign_up{
    
    width: 520px;
    border: 1px solid #ccc;
    padding: 20px;
}


.log-in{

    width: 520px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 8px;
}

.login-box{

    width: 520px;
    border: 1px solid #ccc;
    padding: 8px;
}

